@model IEnumerable<BazaSotrudnikov.Domain.Models.Country>

@{
    ViewBag.Title = "Список стран";
}

<h2>Список стран</h2>

<p>
    @Html.ActionLink("Добавить новую страну", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
